{% extends 'base.html.twig' %}

{% block title %}{{ product.productName }}{% endblock %}

{% block body %}
<h2>{{ product.productName }}</h2>
<table>
    <thead>
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Product Line</th>
            <th>Product Vendor</th>
            <th>Product Description</th>
            <th>Quantity In Stock</th>
            <th>Buy Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.productCode }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productLine }}</td>
            <td>{{ product.productVendor }}</td>
            <td>{% if product.productDescription|length > 100 %}{{ product.productDescription|slice(0, 100) }}...{% else %}{{ product.productDescription }}{% endif %}</td>
            <td>{{ product.quantityInStock }}</td>
            <td>{{ product.buyPrice }}</td>
        </tr>
    </tbody>
</table>
<a href="{{ path('app_product_edit', {'id': product.id}) }}">Edit</a>
<a href="{{ path('app_product_delete', {'id': product.id}) }}">Delete</a>
{% endblock %}